/* font-family: "RobotoRegular"; */
@font-face {
	font-family: "Cent";
	src: url("../fonts/Cent.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Century";
	src: url("../fonts/Century_Got1.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Gabriola";
	src: url("../fonts/Gabriola.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Romana";
	src: url("../fonts/RomanaBT1.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Semilia";
	src: url("../fonts/Semilia.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}