html, body {
	background: #ffffff;
	margin:0;
	padding: 0;
	font-family: "Caros";
	vertical-align: baseline;

}

.container {
	max-width: 960px;
	padding-left: 10px;
	padding-right: 10px;
}
.section4 .row{
	margin-left: 0;
	margin-right: 0;
}
header{
	padding-top: 10px;
}
.logo img{

	margin-right:22px;
	margin-top:13px;
	margin-left:5px;
}

.logo-text h3 {
	margin-top: 25px;
	margin-bottom: 5px;
	margin-left: 22px;
	margin-right:32px;
	color: #3c1e92;
	font-family: "caros ExtraBold";
	font-size:26px;
}

.logo-text p {
	margin-top: 5px;
	margin-left: 11px;
	padding-left: 11px;
    color: #a5a4c3;
    font-size:13px;
    font-family: "roboto regular";
    line-height:14px;
}

.address img {
	vertical-align: baseline;
	position: relative;
    display: inline-block;
}

.address h5 {
	margin-top: 36px;
	margin-left: 13px;
	font-family: "roboto regular";
	color: #a5a4c3;
	position: relative;
    display: inline-block;
}

.phone img {
	position: relative;
    display: inline-block;
    
}

.phone span {
	margin-top: 35px;
	margin-left: 4px;
	color: #3c1e92;
    font-size:20px;
    display: inline-block;
    vertical-align: baseline;
      font-family: "Caros Medium";

}

.phone a {
	margin:0;
	color: #333399;
	margin-left:70px;
	margin-top:10px;
	font-family: "roboto regular";
	font-size:15px;
	border-bottom: 1px solid #ccccff;
}

.nav {
	float: none;
    text-align: center;
	font-size:16px;
	vertical-align: center;
	text-align: center;
	font-family: "caros Medium";
	padding-bottom:25px;
}
header{
	border-bottom:2px solid #ff0099;
}

.nav ul{
	float: none;
	display: inline-block;
	list-style-type: none;
	margin:0;
	padding: 0;
}

.nav ul li{
	list-style-type: none;
	margin-top:35px;
	margin-right: 75px;
	display: inline-block;
	position: relative; 	
}

.nav a {
	text-decoration: none;
    color:#ff0099;
}

.nav a:hover { 
	color: #ff66cc;
	padding-bottom:24px;
    border-bottom:2px solid #ff0099;
}

.photo{
	width: 100%;
	display: block;
}
.section1{
	height: 600px;
	background: url("../images/bg.png") no-repeat 50% 70%;
	-webkit-background-size: auto;
	background-size: auto;
}

.Headline h3 {
	margin-top: 145px;
	font-family: "Caros ExtraLight";
	font-size: 46px;
	color: #333399;
}

.Headline p {
	margin-top: 35px;
	font-family: "Caros Medium";
	font-size: 22px;
	color: #ff0099;
}

footer{
	height: 1000px;
}
.for_kids{
	height: 600px;
	position: relative;
	/*background: url("../images/kids.png") no-repeat 50%;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;*/
}
.absol_img{
	position: absolute;
	top: -50px;
	left: -30%;
	width: 160%;
}


.news1 img {
	margin-top: 90px;display: block;
	margin-left: auto; margin-right: auto;
}
.news1, .news2, .news3{
	height: 375px;
}
.news1{
	 border-bottom:2px solid #99ccff;	
}
.news2 img {
	margin-top: 78px;display: block;margin-left: auto; margin-right: auto;
}

.news3 img {
	margin-top: 78px;display: block; margin-left: auto; margin-right: auto;
}
 
 .news1:hover,
 .news2:hover,
 .news3:hover{
 	border-bottom: none;

 }
.news1 h3 {
	font-family: "Caros Regular";
	font-size: 16px;
	text-align: center;
	color: #333399;
	margin-top: 70px;	
}

.news1 p {
	font-family: "roboto regular";
	font-size: 15px;
	text-align: center;
	color: #9999cc;
	margin-top: 35px;
	padding-bottom:80px;
   
}

.news2 h3 {
	font-family: "Caros Regular";
	font-size: 16px;
	vertical-align: center;
	text-align: center;
	color: #333399;
	margin-top: 50px;	 
}

.news2 p {
	font-family: "roboto regular";
	font-size: 15px;
	vertical-align: center;
	text-align: center;
	color: #9999cc;
	margin-top: 30px;	 

}

.news3 h3 {
	font-family: "Caros Regular";
	font-size: 16px;
	text-align: center;
	color: #333399;
	margin-top: 60px;		
}

.news3 p {
	font-family: "roboto regular";
	font-size: 15px;
	text-align: center;
	color: #9999cc;
	margin-top: 37px;

}

.news3 a {
	color: #333399;
	margin-left: 130px;
	margin-top: 40px;
	font-family: "roboto regular";
			
}

.news3 {
	padding-bottom:35px;
    border-bottom:2px solid #99ccff;
}
.news2{
	padding-bottom: 35px;
	border-bottom: 2px solid #ff974d;
}
.Order1 h2{
	margin-top: 80px;
	font-family: "Caros ExtraLight";
	font-size: 34px;
	color: #333399;
	line-height: 1.4;
}

.Order1 p {
	margin-top: 45px;
	font-family: "Caros Medium";
	font-size: 18px;
	color: #ff0099;
}
.section1__button{
	
	width: 300px;
	height: 65px;

  margin-top: 60px;
  padding: 0;
}
.button{
	background: #e7158d;
		text-align: center;
  box-shadow: 0px 6px 32px 0px rgba(231, 21, 141, 0.48);
  border-radius: 32px;
  border: none;
}
.button p{
  font-size: 16px;
  font-family: "Caros Medium";
  color: rgb(255, 255, 255);
  line-height: 3;
  margin-top: 0;
  margin-bottom: 0;
}
.fa{
	font-weight: 100;
}
.section3{
	background: #f7f6fc;
	margin-top: 80px;
	padding-bottom: 50px;
}
.Order2__img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 33px;
	margin-bottom: 23px;
}
.Order2__text{
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(165, 164, 195);
  line-height: 1.2;
  text-align: center;
}
.Order2__button{
	width: 300px;
	height: 60px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.Order2__input{
	width: 300px;
	border-radius: 32px;
	height: 60px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: none;
	background: url("../images/input_bg.png");
	margin-top: 18px;
	margin-bottom: 20px;
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(60, 30, 146);
  line-height: 1.2;
  text-align: center;
  font-weight: 600;
}


.section4 h2{
  font-size: 34px;
  font-family: "Caros ExtraLight";
  color: rgb(231, 21, 141);
margin-top: 70px;
margin-bottom: 50px;
}
.section4 .dzizh1{
	height: 80px;
	background: url('../images/sect_bg.png') 50% -15px;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
.section4 .dzizh1 .col-sm-4{height: 80px;}
.section4 .dzizh1 .col-sm-4 p{
  font-size: 18px;
  font-family: "Caros Medium";
  color: rgb(60, 30, 146);
  line-height: 1.2;
  text-align: left;

margin-top: 30px;}


.section4 .dzizh1 .col-sm-6 button{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 6px 32px 0px rgba(60, 30, 146, 0.07);
  width: 140px;
  height: 40px;
	border-radius: 20px;
	border: none;
	margin-top: 20px;
}
.section4 .dzizh1 .col-sm-6 button p{
  font-size: 16px;
  font-family: "Caros Medium";
  color: rgb(58, 193, 223);
  line-height: 1.2;
  margin: 0px;
}
.my_img{
	width: 320px;
	display: block;
	margin-left: auto;
}
.dzizh2{
	padding-top: 33px;
}
.sect4__text{
	padding-top: 7px;
	width: 90%;
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(148, 148, 175);
  line-height: 1.2;
  text-align: left;
}
.buttonb{
	background: none;
  background-color: rgb(58, 193, 223);
  box-shadow: 0px 6px 32px 0px rgba(58, 193, 223, 0.48);
	display: block;
	border-radius: 30px;
	border: none;
}

.section4__button{
  width: 300px;
  height: 60px;
  margin-top: 45px;

}
.section4 .section4__button p{
  font-size: 16px;
  font-family: "Caros Medium";
  color: rgb(255, 255, 255);
  line-height: 3.75;
  text-align: center;
}
.section3{
	position: relative;
}
.my_absol3{
	display: block;
	width: 100%;
position: absolute;
top: -40px;
}
.dzizh1{
	margin-top: 65px;
}
.section4 .container{
	background: url("../images/divider.png") 46.1% 260px no-repeat, 
	url("../images/divider.png") 46.1% 650px no-repeat,
	url("../images/divider.png") 46.1% 1040px no-repeat
	;
	
}