@font-face{
    font-family: "Lato";
    src: url("Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "LatoL";
    src: url("Lato-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "LatoB";
    src: url("Lato-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "LatoBl";
    src: url("Lato-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body{
    font-family: "LatoL";
    font-weight: 700;
    background: url("../images/2020.png") no-repeat 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    padding-top: 20px;
    position: relative;
    height: 100%;
    min-height: 100vh;
    padding-bottom: 150px;
    max-height: 1200px;
}
.absol_dark{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
}
.logo_a{
    display: block;
    color: #fff;
    text-align: center;
}
.logo{
    width: 220px;
    height: 50px;
    display: block;
    border: 5px solid #fff;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    
}
.logo p{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "LatoBl";
  text-shadow: 0px 3px 1.84px rgba(50, 50, 50, 0.65);

}
.logo_a +p{
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 4px;
    text-align: left;
    font-family: "LatoL";
    padding-left: 43px;
    line-height: 1.5;
}
#wrapper{
    background: none;
}

.step.last{
    width: 600px;
}
.clearfix{
    width: 5000px !important;
}
.center_text{
    padding-top: 5px;
  font-size: 18px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 1.219;
  text-align: center;
  font-weight: 700;
}
.center_text span{
    line-height: 35px;
}

.right_text{
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    text-align: right;
    font-family: "LatoB";
    color: rgb(239, 162, 74);
    font-weight: 900;
    padding-top: 10px;
    padding-left: 0; 
}
.right_text img{
    display: inline-block;
    margin-right: 15px;
}
.right_text p{
    display: inline-block;
}
.top .container .col-xs-4{
    width: 33%;
    padding-left: 0;
    padding-right: 0;
}
.right_text button{
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 7px;
    background: none;
    border: 2px solid #fff;
    margin-top: 10px;
}
.right_text button p{
    font-size: 15px;
    color: #fff;
    line-height: 1;
}
h1{
    font-size: 34px;
    line-height: 41px;
    text-transform: uppercase;
   font-weight: 100;
    margin-top: 70px;
  font-size: 34px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.03em;
margin-bottom: 0;
}
h1 span{
    line-height: 80px;
    font-size: 29px;
}
h1 +p{
    font-size: 29px;
    font-family: "Lato";
    font-weight: 100;
    margin-bottom: 40px;
}
.icon{
    width: 65px;
    height: 65px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.icon +p{
    font-size: 18px;
    line-height: 22px;
    font-weight: 900;
    margin-top: 7px;
    font-family: "Lato";
    font-weight: 100;

}
.hhrow{
    margin-left: auto;
    margin-right: auto;
    width: 640px;
}
.hhrow .col-xs-4{
    padding-left: 0;padding-right: 0;
}
.pto{
    line-height: 1;
}
.col-xs-2{
    width: 20%;
}
#wrapper{
    margin-top: 0px;
    border: none;
    background: rgba(0,0,0,0.6);
    box-shadow: none;
    padding-top: 10px;
}
#wrapper h4{
    color: rgb(248, 174, 78);
    font-size: 26px;
    font-weight: 100;
    text-transform: uppercase;
    font-family: "LatoB";
}
#wrapper h5{
    font-size: 18px;
    line-height: 24px;
    color: rgb(186, 186, 186);
    margin-bottom: 30px;
}
#wrapper #steps form legend{
    color: rgb(221, 221, 221);
    font-size: 26px;
    line-height: 34px;
    background: none;
    text-align: center;
    border-top: 0;
    border-bottom: 0;
    text-shadow: none;
    width:  100%;
    font-family: "LatoB";
    font-weight: 100;
}
#steps form .step1 p{
    display: inline-block;
    width: 30%;
    float: left;text-align: center;
    margin-left: 0;
    clear: none;
    margin-left: 2.5%;
    background: none;
    border: none;
    font-size: 18px;
    color: #fff;
    text-shadow: none;
}
#steps form .step2 p,
#steps form .step3 p,
#steps form .step4 p{
    display: block;
    width: 100%;
    float: left;
    text-align: left;
    margin-left: 0;
    clear: none;
    background: none;
    border: none;
    font-size: 18px;
    color: #fff;
    text-shadow: none;
}
#steps form .step p label{
    font-size: 20px;
    color: #fff;
    text-shadow: none;
    font-family: "LatoB";
    font-weight: 100;
    cursor: pointer;
}
#steps form .step1 p input,
#steps form .step2 p input,
#steps form .step3 p input{
    display: none;
}
#steps form .step4 p input{
    width: 75px;
    border: 1px solid rgb(248, 174, 78);
    border-radius: 7px;
  
    margin-right: 20px;
    float: none;
    color: #000;
    font-family: "LatoB";
    font-size: 24px;
    background: #fff;
}
#steps form .step4 p{
    text-align: center;
}
#steps form .step4{
    margin-left: -70px;
}
#steps form .step2 p .for_item,
#steps form .step3 p .for_item{
    margin-right: 25px;
}
.meters{
    font-size: 18px;
    font-family: "LatoB";
    font-weight: 100;
    color: rgb(211,211,211);
}
#wrapper #steps form .step2 legend,
#wrapper #steps form .step3 legend,
#wrapper #steps form .step4 legend,
#wrapper #steps form .last legend{
    color: rgb(248, 174, 78);
    font-size: 26px;
    font-weight: 100;
    font-family: "LatoB";
}
.for_item{
    display: inline-block;
    width: 38px;
    height: 38px;
    background: none;
    border: 3px solid #F8AE4E;
    border-radius: 5px; 
    vertical-align: middle;
    margin-right: 10px;
    background: rgba(0,0,0,0.7);
}
#wrapper #steps form .step.last label{
    display: none;
}
#steps .step input:checked + label .for_item{
 
    background: url("../images/galka.png") no-repeat 63% 50%;
}
.type{
    display: block;
    margin-left: auto;margin-right: auto;
    margin-top: 30px;
}
.my_cont{
    height: 315px;
    transition: 1s ease-in all;
}
.my_cont.active{
    height: 0px;
    overflow: hidden ;
    transition: 1s ease-in all;
}

.price{
    display: block;
    -ms-text-align-last: auto;
    text-align-last: auto;
    padding-left: 10px;
    font-size: 25px;
    color: #fff;
}
.price #price{
    color: #F8AE4E;
    font-size: 28px;
}
.sale_form{
    height: 0px;
    overflow: hidden;
    padding: 0;
    transition: 1s all ease-in;
       width: 250px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    
    background: rgba(0,0,0,0.4);
}
.sale_form p{
    font-size: 15px;
    line-height: 20px;
    color: #fff;
}
.sale_form .itogo{
    font-size: 18px;
    margin-top: 20px;
    font-family: "LatoB";
    font-weight: 100;
    margin-bottom: 25px;
}
 .sale_form .sale_num{
    font-size: 28px;
   color: #F8AE4E;
   font-weight: 700;
 }
 .sale_form.active{
    height: 210px;
    padding: 10px 5px;
     border: 1px solid #fff;
 }
 footer{
    background: rgba(0,0,0,0.8);
    padding-top: 25px;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100px;
 }
 .text-ll a{
    font-size: 18px;
    text-align: left;
    color: #ccc;
    font-family: "LatoBl";
    padding-bottom: 10px;
    display: block;
  color: rgb(202, 202, 202);
  text-transform: uppercase;
  text-shadow: 0px 3px 1.84px rgba(50, 50, 50, 0.65);

 }
 .text-ll a +p{
    text-align: left;
    color: #ccc;
  font-size: 18px;
  font-family: "Lato";
  font-weight: 100;
  color: rgb(202, 202, 202);
  text-shadow: 0px 3px 1.84px rgba(50, 50, 50, 0.65);

 }

 .text-cc a{
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
  font-size: 15px;
  font-family: "Lato";
  color: rgb(202, 202, 202);
  margin-top: 50px;
  font-weight: 100;

 }
 .text-rr .tel{
    font-size: 20px;
    line-height: 1.5;
    color: #ccc;
       text-shadow: none;
    padding-bottom: 5px;
    font-family: "LatoB";
    font-weight: 100;
      color: rgb(202, 202, 202);
       text-align: right;

 }
 .text-rr .addr{
    font-size: 14px;
    line-height: 1;
    color: #ccc;
     text-shadow: none;
  font-size: 14px;
  font-family: "Lato";
  color: rgb(202, 202, 202);
  line-height: 1.211;
  text-align: right;
  font-weight: 100;

 }

 #steps form button{
    background: #F8AE4E;
    border: none;
    text-shadow: none;
    color: #fff;



 }
 #steps form button:hover{
    background: #F8AE4E;
    color: #fff;
    text-shadow: none;
 }
 #steps form .last input:not([type=radio]){
    background: rgb(68,68,68);
    border-radius: 4px;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 15px;
    float: none; margin-left: 60px;
    height: 46px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 19px;
    width: 280px;
 }
 #steps form p{
    text-align: left;
    margin-left: 0;
 }

#wrapper{
    text-align: center;
}
.steps{
    text-align: center;
}
.step{
    text-align: center;
}
.sale_box{
    text-align: center;
}
.step.last{
    width: 800px;
}
#steps form .step.last p{
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
}
.last h5{
    color: rgb(221, 221, 221);
    font-size: 26px;
    line-height: 34px;
    background: none;
    text-align: center;
    text-shadow: none;
    font-family: "LatoB";
    font-weight: 100;
    text-align: center;
}

 #last_butt #special{
  
    position: absolute;
    
    opacity: 0 !important;
    display: none;
    top: -100px;
    left: -417px;
    width: 310px;
}
 #last_butt #special.active{
    display: block;
 }
 .absol_icon{
    width: 900px;
    margin-left: -450px;
    position: absolute;
    top: 5px;left: 50%;
    background: rgba(25,25,25,1);
    height: 300px;
    border-radius: 10px;
 }
 .absol_icon .left_cont{
    width: 50%;
    float: left;
    height: 100%;
    text-align: center;
    padding-top: 30px;
 }
  .absol_icon .left_cont img{
    width: 78%;
    margin-left: auto;
    margin-right: auto;
  }
  .absol_icon .right_cont{
    width: 49%;
    float: left;margin-left: 1%;
    text-align: center;
     padding-top: 30px;
  }
  .absol_icon .right_cont h2{
    font-size: 21px;
    line-height: 25px;
    color: #fff;
    font-family:"LatoB" ;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
  }
  .absol_icon .right_cont p{
    font-size: 16px;
    color: #fff;
    text-align: left;
    line-height: 30px;
  }
  .absol_icon .right_cont p span{
    color: rgb(248, 174, 78); padding-left: 10px;
  }
   .absol_icon .right_cont p.text{
    margin-top: 25px;
    line-height:19px;
    font-family: "LatoB";
    font-weight: 400;
   }
   .for_im{
    float: right;height: 140px;
    width: 140px;
    margin-right: 30px;
    border-radius: 50%;
    border: 1px solid rgb(248, 174, 78);
    margin-top: -20px;
    background: url("../images/stolb.png") no-repeat 50% 50%;
   }
   .absol_icon{
    opacity: 0;
    visibility: hidden;
    transition: 1.5s ease-in all;
   }
   .absol_icon.active{
   opacity: 1 ;
   visibility: visible;
  
    transition: 0.5s ease-in all;
   }
   .icon{
    cursor: pointer;
   }
   footer{
    cursor: default;
   }
   .absol_bg_form{
    position: absolute; 
    top: 0; 
    left: 0;    
    width: 100%;    
    height: 100%;   
    z-index: 4000;
    background:   rgba(0,0,0,0.9);
    display: none;

   }
   .absol_form{
    position: absolute;
    top: 150px;
    left: 50%;
    width: 480px;
    margin-left: -240px;
    background: #fff;
    border-radius: 10px;
    height: 430px;
    z-index: 5000;
    padding: 10px;
    display: none;
   }
   .absol_form h3{
font-size: 24px;
line-height: 29px;
font-weight: 100;
font-family: "LatoB";
margin-bottom: 30px;
color: rgb(63, 60, 79);
   }
   .absol_form_in{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid rgb(248, 174, 78);
    padding-top: 50px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
   }
.ord{
    margin-bottom: 30px;
}
.ord img{
    display: inline-block;
    width: 22px;
    float: left;
    height: 22px;
    margin-right: 15px;
}
.absol_form p{
font-size: 16px;
font-weight: 400;
line-height: 19px;
color: rgb(63, 60, 79);
text-align: left;
}
.name_i{
    border: 1px solid rgb(248, 174, 78);
    height: 40px;
    border-radius: 20px;
    width: 100%;
    display: block;
    padding-left: 55px;
    font-size: 14px;
font-weight: 400;
background: none;
color: rgb(63, 60, 79);
font-family: "LatoB";
font-weight: 500;
text-align: left;
opacity: 1;
margin-top: 20px;
margin-bottom: 20px;
background: url("../images/form_i.png") no-repeat 30px 10px;
}
.tel_i{
    border: 1px solid rgb(248, 174, 78);
    height: 40px;
    border-radius: 20px;
    width: 100%;
    display: block;
    padding-left: 55px;
    font-size: 14px;
font-weight: 400;
background: none;
color: rgb(63, 60, 79);
font-family: "LatoB";
font-weight: 500;
text-align: left;
opacity: 1;
margin-top: 20px;
margin-bottom: 20px;
background: url("../images/form_tel.png") no-repeat 30px 10px;
}
.absol_form button{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: url(../images/but_bg.png) no-repeat 50%;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    border: none;
    text-align: center;
}
.absol_form button:hover{
    background: url(../images/but_hov.jpg) no-repeat 50%;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}
.absol_form button p{
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    font-family: "LatoB";
    text-align: center;
    font-weight: 100;
    display: none;
}
*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}
*:-moz-placeholder {
    color: #666;
    opacity: 1;
}
*::-moz-placeholder {
    color: #666;
    opacity: 1;
}
*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}
.absol_form.active{
    display: block;
}
   .absol_bg_form.active{
    display: block;
}
#tel{
    cursor: pointer
}
#steps form #to_get{
    display: none;
}
#steps form #to_get.active{
    display: block;
}

.container{
    width: 870px;
    padding-left: 0;
    padding-right: 0;
}
#wrapper{
    margin-left: auto;
    margin-right: auto;
}
.sale_box{
    display: none;
}
.sale_form.active{
    display: none;
}
footer{
    padding-top: 20px;
}
.text-ll a{
    margin-top: 5px;
}
#wrapper h5{
    color: #fff;
    margin-bottom: 50px;
}
.for_item{
    width: 32px;
    height: 32px;
}
#steps form .step1 p{
    width: 200px;
    margin: 0;
}
#steps form .step1 legend + p{
    margin-left: 80px;
}
#steps{
    height: 390px;
}
#steps form .step2 p,
#steps form .step3 p,
#steps form .step4 p  
{
    margin-left: 80px;
}
#wrapper #steps form .step3 legend,
#wrapper #steps form .step4 legend
{
    text-align: left;
    margin-left: 80px;
}
#steps form .step4 p{
    text-align: left;
}
#steps form .step4 p input{
    border: none;
    width: 90px;
    margin-left: 5px;
}
#steps form .step p label{
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.098;
}
#steps form .last input:not([type=radio]){
    border: none;
    width: 280px;
    background: #fff;
}
#navigation ul{
    margin-left: 80px;
}
#navigation ul li a{
    padding-left: 5px;
    padding-right: 40px;
    background: url("../images/arr.png") 100% 50% no-repeat;
}
.logo{
    width: 270px;
}