/*==========  Desktop First Method  ==========*/
@media only screen and (min-width : 1200px) {
	.header{
		height: 100vh;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.menu{
	padding-left: 0px;
}
.review_icon{
	height: 60px;
}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

.cont{
	display: none;
	visibility: hidden;
}
.menu li:nth-child(3){
	border-right: none;
}
#header .menu{
	display:block;
	text-align: center;
	float: none;
	margin-top:5px;
	margin-bottom:5px;
}
#header .menu .desk_contacts{
	display: none;
}
#header .contacts{
	display: block;
	background: none;
}
.is-sticky #header .contacts{
	background: rgba(48, 57, 73,0.7);
}
.can .col-xs-12{
	margin-top: 30px;
}

.box1:hover .circle1{
  animation-iteration-count: 1;
}
.box1:hover .circle2{
  animation-iteration-count: 1;
}

.box1:hover .circle3{
  animation-iteration-count: 1;
}

.box1:hover .circle4{
  animation-iteration-count: 1;
}








}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.sub_menu_desk2{
	display: block;
}
.menu{
	margin-top: 0;
}
.menu li a{
	font-size: 14px;
}
.menu li{
	padding-left: 15px;
	padding-right: 15px;
}
.can h2{
	padding-left: 15px;
}
.review_icon{
	margin-left: 0;
}
.box2_for_desk{
	display: none;
}

}



@media only screen and (max-width : 710px) and (min-width:480px){
.col-xs-6.service{
	width: 100%;
	min-height: 250px;
}
.col-xs-6.service .see{
	bottom: 30px;
}
.col-xs-6.service>.icon{
	display: inline-block;
	width: 30%;
	float: left;
	margin-top: 50px;
}
.col-xs-6.service >h4{
	text-align: left;
	font-size: 19px;
}
.col-xs-6.service>.service_text{
	text-align: left;
	font-size: 14px;
}


}


@media only screen and (max-width : 540px) {
.animate1_1, .animate1_2{
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: none;
}
.animate1_1{
	margin-bottom: 30px;
}
.bbox{
	margin-left: auto;
	margin-right: auto;
}
h1{
	font-size: 35px;
}

}




/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.col-xs-6.service{
	width: 100%;
	min-height: auto;
	height: auto;
}
.can .col-xs-8, .can .col-xs-10{
	width: 100%;
}
.can  .can_text{
	padding-left: 10px;
}
.col-xs-6.service .see{
	position:static;
margin-top: 20px;
margin-bottom: 40px;
display: block;
margin-left: auto;
margin-right: auto;}
.col-xs-6.service >h4{
	font-size: 19px;
}
.col-xs-6.service>.service_text{
	text-align: left;
	font-size: 14px;
	display: block;
	margin-bottom: 20px;
}
.menu li{
	display: block;
	border-right: none;
	border-bottom:  1px solid #ff5274;
}

.animate3 form{
	width: 100%;
}
.animate3{
	padding-left: 5px;
	padding-right: 5px;
}
.fa-bars{
	display: block;
	text-align: center;
	padding-top: 5px;padding-bottom: 5px;
	font-size: 18px;
	font-weight: 100;
}
#header .menu{
	height: 0px;
	overflow: hidden;
	margin-top: 0;
	margin-bottom: 0;
	transition: all 1s ease-in;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
}
.reviews ul{
	padding-left: 10px;
}
.reviews h6{
	font-size: 20px;
}
.review_text{
	font-size: 14px;
}
.reviews h2{
	padding-left: 15px;
	font-size: 26px;
}
#header .menu.menu_mob_active{
height: 100px;
transition: all 1s ease-in;
padding-right: 0;
}
.contacts .soc_ema{
	display: none;
}
.contacts .soc_tg{
	float: left;
}
.animate1_1, .animate1_2{
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: none;
}
.animate4_bl{
	width: 100%;
	min-height: 220px;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

