body{
	display: block;
	background-image: -webkit-linear-gradient(top, #77ad27, #568604);
	background-image: -moz-linear-gradient(top, #77ad27, #568604);
	background-image: -o-linear-gradient(top, #77ad27, #568604);
	background-image: -ms-linear-gradient(top, #77ad27, #568604);
	background-image: linear-gradient(to bottom, #77ad27, #568604);
}
h1,h2,h3,h4,h5,h6,p{
	margin-top: 0;
	margin-bottom: 0;
}
span{
			font-family: Helvetica;
		}
.wrapper{
	background: url("../img/bg__images.png")
}
header{
	.top__block{
		background: url("../img/header__top.png") no-repeat 50% 0px;
		background-size: 100% auto;
		height:180px;
		width: 100%;
		.icon{
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 70px;
			img{
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}
	.contacts__block{
		display: block;
		padding-top: 20px;
		width: 610px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 20px;
		position: relative;
		left: 30px;
		p{
		  font-size: 34px;
		  display: inline-block;
		  vertical-align: middle;
		  font-family: "Bebas Neue";
		  color: rgb(255, 255, 255);
		  height:30px;
		  line-height: 32px;
		  padding-left: 10px;
		  text-align: left;
		  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.4);
		}

		.phone{
			display: inline-block;
			width: 275px;
			vertical-align: middle;
			border-right: 3px solid #fff;
			height: 30px;
		}
		.email{
			padding-left: 25px;
			height: 30px;
			width: 325px;
			vertical-align: middle;
			display: inline-block;
		}
	}
	.main__header__block{
		h1{
		  font-size: 72px;
		  font-family: "IntroBlack";
		  color: rgb(255, 255, 255);
		  line-height: 1.2;
		  text-align: left;
		  text-shadow: 0px 5px 5px rgba(42, 94, 8, 1);
		  display: inline-block;
		  width: 380px;
		  vertical-align: middle;
		  span{
		  	font-family: Helvetica;
		  }

		}
		.for__h5{
			display: inline-block;
			width: 750px;
			vertical-align: middle;
		}
		h5{
		  font-size: 30px;
		  font-family: "IntroLight";
		  color: rgb(255, 255, 255);
		  line-height: 1.2;
		  text-align: left;
		  text-shadow: 0px 2px 5px rgba(42, 94, 8, 1);
		  display: inline-block;
		}
		p{
		  font-size: 30px;
		  font-family: "IntroBlack";
		  color: rgb(255, 255, 255);
		  line-height: 1.2;
		  text-align: center;
		  margin-top: 15px;
		  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
		}
	}
	.after__main__header__block{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		

		p{
		  font-size: 20px;
		  font-family: "IntroLight";
		  color: rgb(255, 255, 255);
		  line-height: 1.2;
		  text-align: center;
		  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
		}
		
		img{
			display: block;
			margin-left: auto;
			margin-top: 20px;
			margin-bottom: 60px;
			margin-right: auto;
		}
	}
	.header__contact__block{
		p{
		  font-size: 24px;
		  padding-top: 30px;
		  font-family: "IntroLight";
		  color: rgb(255, 255, 255);
		  line-height: 1.2;
		  text-align: left;
		  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
			b{
				font-family: "IntroBlack";
			}
		}
		button{
			height: 70px;
			width: 300px;
			  border:none;
			display: block;
			border-radius:12px;
			background: #fdfdfd;
			border-bottom: 1px solid #dbd8d8;
			margin-top: 25px;
			text-align: center;
			p{
				  font-size: 40px;
				  font-family: "IntroBlack";
				  color: rgb(138, 195, 55);
				  line-height: 1.2;
				  margin-top: 0;
				  padding-top: 10px;
				  text-align: center;

				  text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.4);

			}
	
		}
	}

}
.what{
	position: relative;
	background: #ffffff;
	padding-top: 10px;
	padding-bottom: 30px;
	h2{
	  font-size: 48px;
	  font-family: "IntroBlack";
	  color: rgb(138, 195, 55);
	  line-height: 1.2;
	  text-align: center;
	  margin-bottom: 20px;
	  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.31);

	}
	h6{
	  font-size: 28px;
	  font-family: "IntroLight";
	  color: rgba(40, 40, 40,0.8);
	  line-height: 1.2;
	  text-align: center;
	  margin-bottom: 15px;
	}
	.what__images{
		display: block;
		width: 100%;
		height: auto;
	}
}
.what__top{
	position: absolute;
	display: block;
	width: 100%;
	top: -170px;
	height: 200px;
	background: url("../img/what__top.png") 50% no-repeat;
	background-size: 100% auto;
}
.what__bottom{
	position: absolute;
	display: block;
	width: 100%;
	bottom: -100px;
	height: 200px;
	background: url("../img/what__bottom.png") 50% no-repeat;
	background-size: 100% auto;
}
.how{
	padding-top: 80px;
	padding-bottom: 40px;
	h2{
	  font-size: 49px;
	  font-family: "IntroBlack";
	  color: rgb(255, 255, 255);
	  line-height: 1.2;
	  text-align: center;
	  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
	}
}
.steps__block{
	display: block;
	width: 100%;
	height:200px;
	margin-top: 60px;
	margin-bottom: 90px;
	position: relative;
	img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
.step{
	display: block;
	position: absolute;
	width: 130px;
	text-align: center;
	padding-top: 15px;
	border-radius: 50%;
	z-index:1000;
	height: 130px;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,.61), inset 0 5px 5px rgba(255,255,255,.75);
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,.61), inset 0 5px 5px rgba(255,255,255,.75);
	box-shadow: 0 5px 5px rgba(0,0,0,.61), inset 0 5px 5px rgba(255,255,255,.75);
	background-image: -webkit-linear-gradient(bottom, rgba(237,237,237,1), rgba(255,255,255,1));
	background-image: -moz-linear-gradient(bottom, rgba(237,237,237,1), rgba(255,255,255,1));
	background-image: -o-linear-gradient(bottom, rgba(237,237,237,1), rgba(255,255,255,1));
	background-image: -ms-linear-gradient(bottom, rgba(237,237,237,1), rgba(255,255,255,1));
	background-image: linear-gradient(to top, rgba(237,237,237,1), rgba(255,255,255,1));
	span{
	  font-size: 90px;
	  font-family: "IntroBlack";
	  color: rgb(91, 147, 19);
	  line-height: 1.2;
	}
	p{
	  position: absolute;
	  font-size: 29px;
	  font-family: "IntroLight";
	  color: rgb(255, 255, 255);
	  line-height: 1.2;
	  text-align: left;
	  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
	}
}
.step1{
	left: 20px;
	top: -20px;
}
.step2{
	left: 500px;
	top: 35px;
}
.step3{
	right: 0px;
	top: 10px;
}
.step1 p{
	width: 260px;
	top: 10px;
	left: 150px;
}
.step2 p{
	width: 700px;
	text-align: center;
	left: -270px;
	bottom: -85px;
}
.step3 p{
	right: 160px;
	text-align: center;
	width: 130px;
	top: 50px;
}
.how__block2{
	padding: 15px;
	border-radius:12px;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	width: 720px;
	cursor:pointer;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.4);
	-moz-box-shadow: 0 3px 5px rgba(0,0,0,.4);
	box-shadow: 0 3px 5px rgba(0,0,0,.4);
	p{
	  font-size: 25px;
	  font-family: "IntroBlack";
	  color: rgb(91, 147, 19);	
	  line-height: 0.7;
	  text-align: center;
	  width: auto;
	}
}
.how__block2 +img{
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 45px;
	margin-bottom: 35px;
}
.how__block3{
	 h4{
	  font-size: 45px;
	  font-family: "IntroBlack";
	  color: rgb(255, 255, 255);
	  line-height: 1.3;
	  text-align: center;
	  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
	}
	p{
  font-size: 25px;
  font-family: "IntroLight";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

	}
}
.production{
	padding-top: 20px;
	padding-bottom: 10px;
	position: relative;
	background: #fff;
	h2{
	  font-size: 48px;
	  font-family: "IntroBlack";
	  color: rgb(138, 195, 55);
	  line-height: 1.2;
	  text-align: center;
	  margin-bottom: 50px;
	  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.11);
	}
}
.production__top{
	height: 200px;
	width: 100%;
	top: -100px;
	position: absolute;
	background: url("../img/what__bottom.png") 50% no-repeat;
	background-size: 100% auto;
	transform: rotate(180deg);
}
.product{
	width: 300px;
	display: block;
	text-align: center;
	img{
		width: 100%;
		height: auto;
		margin-bottom: 15px;
	}
	.name{
		  font-size: 36px;
		  font-family: "IntroBlack";
		  color: rgb(40, 40, 40);
		  line-height: 1.2;
		  text-align: center;
	}
	.description{
	  font-size: 28px;
	  font-family: "IntroLight";
	  color: rgb(40, 40, 40);
	  line-height: 1.2;
	  text-align: center;
	}
}
.production__slider__dots{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
	.dot{
	webkit-box-shadow: inset 0 5px 5px rgba(0,0,0,.75);
	-moz-box-shadow: inset 0 5px 5px rgba(0,0,0,.75);
	box-shadow: inset 0 5px 5px rgba(0,0,0,.75);
	width: 30px;
	cursor:pointer;
	height: 30px;
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	border-radius:50%;
	background: #aaf038;
	}
	.dot.active{
		background: #7eba28;
	}
}
.production__bottom{
	height: 200px;
	width: 100%;
	bottom: -180px;
	position: absolute;
	background: url("../img/production__bottom.png") 50% no-repeat;
	background-size: 100% auto;
}
.work__process{
	padding-top: 200px;
	.container{
		padding-left: 100px;
	}
	h2{
	  font-size: 45px;
	  font-family: "IntroBlack";
	  color: rgb(255, 255, 255);
	  line-height: 1.2;
	  text-align: center;
	  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
	  margin-bottom: 20px;
	}
	p{
		margin-top: 10px;
		margin-bottom: 10px;
		  font-size: 25px;
		  font-family: "IntroLight";
		  color: rgb(255, 255, 255);
		  line-height: 1.2;
		  text-align: center;
		  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);

		.num{
			width: 45px;
			height: 45px;
			display: inline-block;
			margin-right: 15px;
			background: #fff;
			border-radius:10px;
			  font-size: 35px;
			  font-family: "IntroBlack";
			  color: rgb(91, 147, 19);
			  line-height: 45px;
			  text-align: center;
			  -webkit-text-shadow: 0 2px 1px rgba(0,0,0,.75);
			-moz-text-shadow: 0 2px 1px rgba(0,0,0,.75);
			text-shadow: 0 2px 1px rgba(0,0,0,.75);
			-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.75);
			-moz-box-shadow: 0 2px 3px rgba(0,0,0,.75);
			box-shadow: 0 2px 3px rgba(0,0,0,.75);
			
		}
		display: inline-block;
	}
}
.why__we{
	padding-top: 70px;
	position: relative;
	padding-bottom: 150px;
}
.special__h2{
	background: url("../img/why__h2.png") 0% 0px no-repeat;
	background-size: auto 100%;
	width: 50%;
	height: 100px;
	padding-top: 7px;
	border-radius:10px;
	padding-left: 250px;
	h2{
		line-height: 80px;
		background: #fff;
		  font-size: 45px;
		  font-family: "IntroBlack";
		  color: rgb(52, 90, 4);
		  text-align: center;
			height: 80px;
			border-radius:10px;
		  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.22);


	}
}
li p{
  font-size: 28px;
  font-family: "IntroLight";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}
ul li{
	list-style-image: url("../img/li.png");
	color: #fff;
}
.why__we .what__top{
	top: auto;
	bottom:-30px;
}
.why__we{
	overflow:hidden;
}