/* font-family: "RobotoRegular"; */
@font-face {
	font-family: "Dobro";
	src: url("../fonts/Dobrozrachniy-Regular.eot");
	src: url("../fonts/Dobrozrachniy-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Dobrozrachniy-Regular.woff") format("woff"),
	url("../fonts/Dobrozrachniy-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
	font-family: "Gotham Pro";
	src: url("../fonts/GothaProBol.otf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Gotham ProR";
	src: url("../fonts/GothaProReg.otf");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "RobotoBold"; */
@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/RobotoBold/RobotoBold.eot");
	src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
	url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
    font-family: 'OzHandicraft WGL4 BT Roman';
    font-style: normal;
    font-weight: 400;
    src: local('OzHandicraft WGL4 BT Roman'), local('OzHandicraftWGL4BT-Roman'),
        url("../fonts/handi.woff") format('woff'),
        url("../fonts/handi.ttf") format('truetype');
}
@font-face {
    font-family: 'AdLib WGL4 BT';
    font-style: normal;
    font-weight: 400;
    src: local('AdLib WGL4 BT'), local('AdLibWGL4BT-Regular'),
        url("adlib.woff") format('woff'),
        url("adlib.ttf") format('truetype');
}