*::-webkit-input-placeholder {
color: #bdaaa4;
	opacity: 1;
}
*:-moz-placeholder {
color: #bdaaa4;
	opacity: 1;
}
*::-moz-placeholder {
color: #bdaaa4;
	opacity: 1;
}
*:-ms-input-placeholder {
color: #bdaaa4;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

input:focus, textarea:focus, keygen:focus, select:focus {
    outline-offset: 0px;
}
*:focus{
	outline:none;
}
/*Элемент выше для того, чтобы не было цвето у фокусированных*/
h1,h2,h3,h4,h5,h6,p{
	margin-top: 0;
	margin-bottom: 0;
}
body {
	 font-family: 'OzHandicraft WGL4 BT Roman', arial;
	font-size: 16px;
	background: url("../img/main_bg.png") no-repeat 50%;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 3000px;
	position: relative;
}
.button{
	display: block;
	padding: 14px 45px;
	border: 3px solid #4c576c;
	border-radius:28px;
	background: #000; 
  	border-style: solid;
  	background-color: #677186;
  	width: auto;
/*добавить узор на кнопку*/
}
.button p{
  font-size: 27px;
  font-family: 'OzHandicraft WGL4 BT Roman', arial;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 21px;
  text-align: center;
  text-shadow: 1.5px 2.598px 0px rgba(65, 75, 95, 0.004);
	letter-spacing: 0.1em;
	margin-top: 0;margin-bottom: 0;
}
header{
	padding-top: 22px;
	position: relative;
	height: 900px;
}
section{
	position: relative;
}
.header__logo{
	margin-left: 30px;
	margin-right: 0;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}
.header__logo +p{
  font-size: 12px;
  font-family: "Gotham Pro";
  color: rgb(33, 33, 33);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
	padding-left: 12px;
	border-left: 1px solid #6a6a67;
display: inline-block;
	letter-spacing: 0.1em;
	vertical-align: middle;
}
.header__button{
	margin-left: auto;
}
.header__left__column{
	padding-top: 6px;
}
h3{
  font-size: 50px;
  font-family: 'OzHandicraft WGL4 BT Roman', arial;
  color: rgb(116, 93, 86);
  line-height: 1;
  text-align: center;
  letter-spacing: 0.05em;
  font-weight: 300;
  margin-top: 150px;
  margin-bottom: 75px;
}
h3 span{
	color: #475368;
}
.header__offer img{
display: block;
width: 90%;
margin-left: auto;
margin-right: auto;
}
.header__next{
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin-left: -25px;
	background: url("../img/header__next__off.png");
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.header__next:hover{
	background: url("../img/header__next__on.png");
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}

h2{
  font-size: 50px;
  color: rgb(255, 255, 255);
  line-height: 1;
  text-align: center;
  text-shadow: 1.5px 2.598px 0px rgba(108, 79, 70, 0.004);
	letter-spacing: 0.05em;
	font-weight: 300;
	padding-top: 9px;
	
}
h2{
	display: block;
	width: 475px;
	background: url("../img/combo_h2.png") no-repeat;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	height: 125px;
}
.combo .row{
	padding-top: 50px;
	padding-bottom: 50px;
}
.combo{
	padding-top: 30px;
}
.combo h3{
  font-size: 45px;
  color: rgb(71, 82, 103);
  line-height: 1.111;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
}
.combo .combo__text{
  font-size: 18px;
  font-family: "Gotham ProR";
  color: rgb(116, 93, 86);
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.05em;
}
.combo .combo__text b{
	font-family: "Gotham Pro";
}
.combo .combo__text span{
	font-size: 20px;
	color: #475267;
  font-family: "Gotham Pro";
}
.star{
	display: inline-block;
	margin-top: -10px;
	margin-left: 10px;
	margin-right: 10px;
}
.combo__button{
	margin-top: 45px;
}
.about{
	padding-top: 60px;
}
h6{
  font-size: 33px;
  color: rgb(184, 144, 123);
  line-height: 1;
  margin-top: -15px;
  margin-top: 0;
  text-align: center;
  width: 417px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.05em;
  text-align: center;
  background: url("../img/h6_arrows.png") no-repeat 0% 50%;
}
.about__text{
  font-size: 19px;
  font-family: "Gotham ProR";
  color: rgb(71, 83, 104);
  line-height: 1.053;
  text-align: left;
  letter-spacing: 0.05em;
  font-weight: 700;
margin-top: 30px;
}
.about_img{
	display: block;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 200px;
}
h5{
  font-size: 30px;
  color: rgb(71, 82, 103);
  line-height: 1.667;
  letter-spacing: 0.05em;
  text-align: left;
}
.why h5 +p{
  font-size: 18px;
  font-family: "Gotham ProR";
  color: rgb(116, 93, 86);
  line-height: 1.111;
  text-align: left;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.why_img{
display: inline-block;
width: 130px;
margin-right: 40px;
vertical-align: top;
}
.why__text{
	width: 380px;
	display: inline-block;
}
.why .row .col-xs-6{
	height: 300px;
}
.why .row{
	padding-top: 90px;
}
.why{
	padding-bottom: 100px;
}
.people h5{
  font-size: 34px;
  color: rgb(71, 82, 103);
  line-height: 1.176;
  text-align: center;
  letter-spacing: 0.05em;
  margin-top: 50px;
}
.people h5 + p{
	font-size: 30px;
	color: #745d56;
	 line-height: 1.176;
	 text-align: center;
	font-weight: 500;
	 letter-spacing: 0.05em;
}
.people .row{
	padding-top: 50px;
}
.header__timer__caption{
  font-size: 35px;
  color: rgb(116, 93, 86);
  line-height: 1.429;
  text-align: center;
}
.header__timer__caption span{
	color: #475267;
}
.header__timer__box{
	display: inline-block;
	width: 100px;
	height: 100px;
	background: transparent;
	border: 3px solid #e1ddd4;
	padding-top: 25px;
	margin-left: 20px;
}
.header__timer__box p{
  font-size: 20px;
  color: rgb(116, 93, 86);
  text-align: center;
  line-height: 28px;

}
.header__timer__box p span{
  font-size: 48px;
  color: rgb(116, 93, 86);
  line-height: 20px;
  text-align: center;
}
#getting-started{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}
.header__timer + p{
  font-size: 35px;
  color: rgb(116, 93, 86);
  line-height: 1.429;
  text-align: center;
}
.header__timer + p span{
	color: #475267;
	font-weight: bold;
	margin-bottom: 25px;
}
.header__offer__button{
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
}
.handmade{
	position: absolute;
    left: -50px;
    bottom: -15px;
	width: 175px;
	height: 175px;
	background: url("../img/handmade.png") no-repeat 50% 50%;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
.bag img{
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.first_slider .item{
	display: inline-block;
}

.bag p{
  font-size: 50px;
  color: rgb(71, 82, 103);
  line-height: 1.2;
  text-align: right;
  margin-top: 10px;
}
.combo h3{
	margin-top: 0;
	margin-bottom: 30px;
}
.combo h2{
	margin-bottom: 60px;
}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next{
	height: 60px;
	width: 42px;
	position: absolute;
	display: block;
}
.owl-carousel .owl-nav .owl-prev{
	background: url("../img/slider_prev.png") no-repeat 50%;
	    top: 160px;
    left: -10px;
    font-size: 0px;
}
.owl-carousel .owl-nav .owl-next{
	background: url("../img/slider_next.png") no-repeat 50%;
	 top: 160px;
    right: -50px;
    font-size: 0px;
}
.owl-carousel  .longer img{
	display: block;
	width: 220px;
	
	margin-left: auto;
	margin-right: auto;
}
.longer p{
	text-align: center;
  font-size: 50px;
  color: rgb(71, 82, 103);
  line-height: 1.2;
margin-top: 10px;
}
.owl-carousel.second__slider .owl-nav .owl-next{
	right: 15px;
}
.owl-carousel.second__slider .owl-nav .owl-prev{
	left: 15px;
}
.people .name{
  font-size: 30px;
  font-family: "Dobro";
  color: rgb(71, 83, 104);
  line-height: 1.667;
  text-transform: uppercase;
  text-align: center;
}

.owl-carousel.third__slider .person img{
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.owl-carousel.third__slider .owl-nav .owl-prev,
.owl-carousel.third__slider .owl-nav .owl-next{
	top: 130px;
}
.owl-carousel.third__slider .owl-nav .owl-prev{
	left: -30px;
}
.owl-carousel.third__slider .owl-nav .owl-next{
	right: -30px;
}
.clients{
	margin-top: 100px;
	margin-bottom: 100px;
}
.clients h6{
	width: 500px	;
	background: url("../img/h6_arrows_big.png") no-repeat 50%;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.owl-carousel.fourth_slider .client img{
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.owl-carousel.fourth_slider .owl-nav .owl-prev,
.owl-carousel.fourth_slider .owl-nav .owl-next{
	top: 140px;
}
.review_text .item{
	height:0px;
	transition: all 1s ease-in;
}
.review_text .item.active{
	height: 250px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.review p{
  font-size: 31px;
  color: rgb(116, 93, 86);
  line-height: 1.258;
  text-align: center;
}
.review .client_name{
  font-size: 29px;
  color: rgb(116, 93, 86);
  line-height: 1.724;
  text-align: center;

}
.fourth_slider{
	margin-top: 75px;
	margin-bottom: 75px;
}
.review_text .item{
	width: 100%;
	padding-left: 40px;
	position: relative;
	padding-right: 40px;
	overflow: hidden;
}
.review{
	width: 100%;
	background: #fff;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}
.item .review{
	height: 0;
	overflow: hidden;
	transition: all 2s ease-in;

}
.item.active .review{
	height: 100%;
	transition: all 0.5s ease-in;

}
.review_line_top{
	display: block;
	width: 100%;
	height: 10px;
	left: 0px;
	position: absolute;
	top: 0px;
	z-index: 9000;
	background: url("../img/client_line.png") no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
.review_line_bot{
	display: block;
	width: 100%;
	height: 10px;
	left: 0px;
	z-index: 9000;
	position: absolute;
	bottom: 0px;
	background: url("../img/client_line.png") no-repeat ;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}

.clients{
	height: 900px;
}
.review_text{
	position: relative;
	min-height: 10px;
	height: auto;
	transition: 1s all ease-in;
}
.review{
	padding-top: 40px;
}
.review > p{
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.review img{
	margin-left: 10px;
	margin-right: 10px;
}
.review .client_name{
	margin-top: 25px;
}
.review a{
	text-align: center;
	display: block;
	margin-bottom: 10px;
}
.delivery h2{
	font-size: 43px;
	width: 560px;
	-webkit-background-size: 100%;
	background-size: 100%;
	background: url("../img/delivery_h2.png") no-repeat;
}
.delivery h5{
  font-size: 35px;
  color: rgb(71, 83, 104);
  line-height: 1.429;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 55px;
}
.delivery p{
  font-size: 25px;
  color: rgb(116, 93, 86);
  line-height: 1.2;
  text-align: center;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.delivery_wrapper{
	padding-left: 25px;
	padding-right: 25px;
	width: 100%;
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
}
.delivery__text{
	background: #fff;
	display: block;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 40px;
}

.delivery_wrapper{
	margin-top: 120px;
}
.delivery{
	padding-bottom: 80px;
}
.for_map{
	margin-top: 100px;
	display: block;
	position: relative;
	height: 500px;
}
.map_bg{
	position: absolute;
	top: -15px;
	width: 100%;
	left: 0px;
	height: 30px;
	background: url("../img/map_bg.png") no-repeat 50%;
	-webkit-background-size: 100%;
	background-size: 100%;
	z-index: 3000;
}
.map__block{
	width: 350px;
	position: absolute;
	height: 240px;
	top: 120px;
	left: 0px;
	z-index: 7000;
	background: #fff;
	padding-left: 27px;
	padding-top: 33px;
}
.for_map .container{
	display: block;position: relative;
}
.map__block h4{
  font-size: 40px;
  color: rgb(71, 83, 104);
  line-height: 1.25;
  text-align: left;
  margin-bottom: 35px;
  font-weight: 100;
}
.map__block p{
  font-size: 23px;
  color: rgb(71, 83, 104);
  line-height: 1.217;
  text-align: left;
}
footer{
	position: relative;
	z-index: 9000;
	min-height:380px;
	margin-top: -15px;
	background: url("../img/footer_bg.png") no-repeat 50% 0%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	padding-top: 100px;
}
footer p{
  font-size: 30px;
  color: rgb(255, 255, 255);
  line-height: 1.167;
  text-align: center;
  margin-top: 40px;
}
.footer__logo{
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 70px;
}
.about__img{
	width: 100%;
	display: block;

}
a{
	display: block;
}


.lb-data .lb-caption{
  font-size: 30px;
  color: #fff;
  line-height: 1.667;
  text-align: center;
}
.to_close{
	position: absolute;
	top: 0;
	right: -10px;
	height: 20px;
	width: 20px;
}
.to_close p{
	color: #fff;
	font-size: 20px;
	line-height: 1;
	margin-top: 0;
	margin-bottom: 0;
}
.hiddens{
opacity:0;
}
.visibles{
opacity:1;
}
.button:hover{
	background-color: #8893aa;
}
.header__next{
	cursor: pointer;
}

.bg_modal{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 8000;
	background: rgba(71,83,104,0.7);
	display: none;
	-webkit-transition: all 0.8s ease-in;
	-o-transition: all 0.8s ease-in;
	transition: all 0.8s ease-in;
}
.bg_modal.active{
	display: block;
	-webkit-transition: all 0.8s ease-in;
	-o-transition: all 0.8s ease-in;
	transition: all 0.8s ease-in;
}
.modal{
	width: 900px;
	height: 700px;
	z-index: 8100;
	position: fixed;
	top: 100px;
	background: url("../img/modal_bg.png") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	left: 50%;
	margin-left: -450px;
	padding-top: 50px;
	padding-left: 70px;
	padding-right: 80px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
}
.modal.active{
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
}
.modal h2{
	width: 620px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 130px;
	background: url("../img/h2_modal_bg.png") no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	margin-bottom: 40px;
}
.modal p{
  font-size: 31px;
  color: rgb(116, 93, 86);
  line-height: 1.613;
  text-align: left;
  letter-spacing: 0.05em;
}
.modal_input{
	background: none;
	border: none;
	border-bottom: 2px solid #6c4f46;
	padding: 0;
	line-height: 1.2;
	margin-left: 5px;
	margin-right: 5px;
	  color: rgb(116, 93, 86);
}
.modal .opt{
  font-size: 35px;
  color: rgb(116, 93, 86);
  line-height: 1.429;
text-align: left;
margin-top: 30px;
}
.modal .opt +p{
  font-size: 25px;
  color: rgb(116, 93, 86);
  line-height: 1.2;
}

.modal label{
	width: 180px;
	background-color: rgb(232, 219, 215);
	border-width: 3px;
	border-color: rgb(206, 189, 184);
  border-style: solid;
	height: 55px;
	border-radius: 27px;
	position: relative;
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 0px;
	border-width: 0px;
	overflow: hidden; -webkit-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;


}
.modal label p{
  font-size: 24px;
  font-family: "Dobro";
  color: rgb(108, 79, 70);
  text-transform: uppercase;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  font-style: italic;

}
input[type="radio"] {
    display: none;
}
.for_item{
	display: none;
	width: 20px;
	height: 15px;
	text-align: right;
	background: url("../img/for_item.png") no-repeat;
	position: absolute;
	top: 18px;
	right: 18px;
}
input[type="radio"]:checked + label{
	height: 55px;
	border-width: 3px;
}
input[type="radio"]:checked + label .for_item {
    display: block;
}

.modal label.selecting{
border-width: 3px;
height: 55px;
-webkit-transition: all 1s ease-in;
-o-transition: all 1s ease-in;
transition: all 1s ease-in;

}
#label2.selecting{
	background: url("../img/selecting.png") no-repeat 0px 50%;
	background-color: transparent;
	border-width: 0px;
	height: 60px;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	padding: 10px;
}
#label2.selecting .for_item{
	top: 28px;
}
.modal button{
  border-width: 3px;
  border-color: rgb(108, 79, 70);
  border-style: solid;
  background-image: -moz-linear-gradient( 90deg, rgb(150,120,109) 0%, rgb(183,143,122) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(150,120,109) 0%, rgb(183,143,122) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(150,120,109) 0%, rgb(183,143,122) 100%);

  width: 307px;
  height: 62px;
  border-radius: 31px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.modal button p{
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-shadow: 1.5px 2.598px 0px rgba(108, 79, 70, 0.004);
	letter-spacing: 0.1em;
}
.modal button:hover{
	background: #b68f7a;
}
.select_div{
	height: 100px;
}
.cross{
	display: block;
	position: absolute;
	top: 40px;
	right: 40px;
	width: 41px;
	height: 41px;
	background: url("../img/cross.png") no-repeat;
	cursor: pointer;
}
label{
	cursor: pointer;
}